* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

header{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: -5.5rem;
}

#brand img{
    height: 5rem;
    margin-top: 2px;
    margin-left: -1rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

#titulo{
    margin-top: 45px;
    font-size: 10px;
}

.icones img {
    height: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

nav{
    display: flex;
    height: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    justify-content:flex-start;
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}

.container {
    width: 100%;
    height: 100%;
}

#left_sobre{
    width: 50%;
    height: 50%;
}

#left_sobre img {

    width: 100%;
    height: 100%;
    border: 2px solid #ccc
}

#right_sobre {
    width: 50%;
    height: 50%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

p{
    font-size: 10px;
    text-align: justify;
}

.d-flex {
    display: flex;
}

.box {
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px; /* Espaçamento externo entre as caixas */
    float: left; /* Alinhamento à esquerda */
    width: calc(33.333% - 20px); /* Largura de 1/3 com ajuste para o espaçamento interno */
    box-sizing: border-box; /* Garante que a largura inclui a borda e o preenchimento */
  }

  /* Estilo para o texto dentro da caixa */
  .texto {
    font-size: 18px;
    color: #333; /* Cor do texto */
  }