* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

#line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background-color: #333;
}

#line img{
    margin-left: 2.5rem;
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

#fone{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-right: 200px;
}    

#principal{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 200px;
}
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    background-color: transparent;
}

#header img {
    margin-left: 2.5rem;
    height: 80px;
    margin-right: 10rem;
}

#header a{
    display: inline-block;
    justify-content: space-evenly;
    font-size: 25px;
    color: black;
    font-style: normal;
    font-weight: 400;
    padding: 14px 16px;
    text-decoration: none; 
    }

#header a:hover {
    color: hsl(306,32%,72%);
}

#titulo_principal {
    font-size: 50px;
    font-weight: 400;
}

.icones img {
    display: flex;
    justify-content: space-around;
    margin-top:45px;
    height: 2rem;
    margin-bottom: 1rem;
}

#telefone {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
}

.container-sobre {
    display:flex;
    width: 100%;
    height: 140vh;
    margin-bottom: 1rem;
    }

#lado-esquerdo-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    width: 50%;
    height: 140vh;
    }

#lado-esquerdo-sobre img {
    margin:5%;
    height: 90%;
    border: #333 solid 1px;
}

#lado-direito-sobre {
    width: 50%;
    height: 140vh;
    padding-top: 55px;
    line-height: 30px;
    text-wrap: wrap;
}

#h2-sobre {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
}

#h3-sobre {
    width: 100%;
    font-size: 45px;
    margin-bottom: 2rem;
    text-align: center;
}

#p-sobre{
    width: 90%;
    font-size: 20px;
    padding-left: 90px;
    padding-right: 20px;
    text-align: justify;
    margin-bottom: 2rem;
}

.conteiner-why{
    
    margin-left: 10%;
    align-items: center;
    width: 80%;
    
}

#porque{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

#texto-porque{
    font-size: 22.5px;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

.box {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px; /* Espaçamento externo entre as caixas */
    float: left; /* Alinhamento à esquerda */
    width: calc(33.333% - 20px); /* Largura de 1/3 com ajuste para o espaçamento interno */
    height: 60px;
    box-sizing: border-box; /* Garante que a largura inclui a borda e o preenchimento */
}

/* Estilo para o texto dentro da caixa */
.texto-box {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    color: #333; /* Cor do texto */
    margin-bottom: 20rem;
}

#texto_bottom {
    margin-top: 220px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 3rem;
}   

#texto_bottom_2 {
        
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}       

#howto {
    display: flex;
    padding-bottom: 10px;
}

#titulo1{

    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    

}

.conteiner-atendimentos{
    margin-top: 1rem;
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color: bisque;
    width: 100%;
}



.upper {
    font-size:25px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-decoration-line: underline;
}

#left_atendimento {
    flex:1;
    width: 40%;
    height: 80vh;
    background-color: blue;
    
    }

#left_atendimento img{
    margin-top: 20px;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 30px;
    width: 40%;
    height: 40vh;
    
}


#right_atendimento {
    flex:1;
    width: 40%;
    height: 80vh;
   
    
}

#right_atendimento img {
    margin-top: 20px;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 30px;
    width: 40%;
    height: 40vh;
    border: 2px solid black;
}

#texto_atendimento_left {
    font-size: 20px;
    text-align: justify;
}

#texto_atendimento_right {
    font-size: 20px;
    text-align: justify;
}

#h3-diferenciais{
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.conteiner-diferenciais{
    margin-top: 1rem;
    display:flex;
    align-items: center;
    
    width: 100%;
}


.box-diferenciais {
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px; /* Espaçamento externo entre as caixas */
    float: left; /* Alinhamento à esquerda */
    width: calc(33.333% - 20px); /* Largura de 1/3 com ajuste para o espaçamento interno */

}

#secao-diferenciais{

    display: flex;

}

.box-diferenciais img{
    margin-top: 20px;
    margin-right: 20px;
    height: 50px;
}

.texto-diferenciais-superior {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.texto-diferenciais-inferior {
    padding-top: 10px;
    font-size: 15x;
    text-align: justify;
    padding-right: 50px;
}

#conteiner-comoagendar{

    margin-top: 1rem;
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color: bisque;
    width: 100%;

}

.box_htagendar {
    background-color: #fff; /* Cor de fundo branca */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px; /* Espaçamento externo entre as caixas */
    float: left; /* Alinhamento à esquerda */
    width: calc(33.333% - 20px); /* Largura de 1/3 com ajuste para o espaçamento interno */
    box-sizing: border-box; /* Garante que a largura inclui a borda e o preenchimento */
}

.box_htagendar img{
    
    width: 55px;
    height: 55px;
    
}






#lateral_image img {

    height: 5rem;
    margin-top: 2px;
    margin-left: -1rem;
    margin-right: 5rem;
    margin-bottom: 1rem;

}